<div class="card">
  <div class="card-body">
    <h2 class="card-title">{{student?.name}}</h2>
    <p class="text-muted">{{student?.email}}</p>
    <p>{{student?.session}}</p>
    <a href="" class="card-link">See projects</a>
  </div>
</div>

