<div class="row">
  <div class="col-4" *ngFor="let student of students">
    <div *ngFor="let student of students">
      <app-student-card [student]="student" ></app-student-card>
    </div>
  </div>
</div>
